[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/creator-token-standards"]
	path = lib/creator-token-standards
	url = https://github.com/limitbreakinc/creator-token-standards
